<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div>
    <webcam [height]="200" [width]="200" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
            mirrorImage="never"
            captureImageData="true"
    ></webcam>
    <br/>
    <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
  </div>

<div class="snapshot" *ngIf="ocrDone" >
  <div class="pair"><img [src]="preprocessImage5.url" width="60%"/><a>{{preprocessImage5.text}}</a></div>
  <img [src]="webcamImage.imageAsDataUrl" width="30%"/>
  <div class="pair"><img [src]="preprocessImage1.url" width="30%"/><a>{{preprocessImage1.text}}</a></div>
  <div class="pair"><img [src]="preprocessImage2.url" width="30%"/><a>{{preprocessImage2.text}}</a></div>
  <div class="pair"><img [src]="preprocessImage3.url" width="30%"/><a>{{preprocessImage3.text}}</a></div>
  <div class="pair"><img [src]="preprocessImage4.url" width="30%"/><a>{{preprocessImage4.text}}</a></div>
</div>

</div>
